.homeContainer {
    height: 100%;
    width: 100%;
}

/*hero section*/

.hero {
    display: flex;
    flex-direction: column;
    background: url('../../images/home-photo.jpg') center center / cover;
    height: 100vh;
}

.welcome {
    font-weight: 700;
    margin: 85px 0 0 5px;
    font-size: 0.95em;
    padding: 7px;
    align-self: flex-start;
    color: white;
}

.titleContainer {
    margin-top: 16%;
}

.titleContainer h1, .titleContainer p {
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.3);
}

.titleContainer h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 5px;
}

.titleContainer p {
    font-size: 1.25em;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 2px;
    margin: 0;
}

.scrollContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scrollCircle {
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 20px;
}

/*process and review section*/

.processContainer, .reviewContainer {
    display: flex;
    flex-direction: column;
    padding: 40px 20% 80px 20%;
    align-items: center;
    text-align: center;
}

.processContainer {
    background-color: whitesmoke;
}

.reviewContainer {
    background-color: rgba(0, 0, 0, 0.95);
}

.processContainer h1 {
    flex: 0 1 100%;
    font-size: 2.3em;
    margin-bottom: 15px;
}

.processExplained {
    font-size: 1.1em;
    margin-bottom: 3px;
}

.signup {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-size: 0.95em;
    margin-top: 20px;
    border-radius: 30px;
    width: 140px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.signup:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    transition: 0.2s;
    padding: 13px;
}


.reviewOne, .reviewTwo {
    color: white;
    font-size: 1em;
    text-align: left
}

.reviewOne p, .reviewTwo p {
    max-width: 600px;
    font-weight: 300;
    margin: 0;
}

.reviewContainer h1 {
    font-size: 2.3em;
    margin-bottom: 55px;
    color: white;
}

.reviewOne img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.reviewTwo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.reviewImgContainerOne, .reviewImgContainerTwo {
    width: 230px;
    max-height: 240px;
    border: 7px solid rgba(250, 250, 250, 0.65);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 1);
}

.reviewTwo {
    display: flex;
    flex-direction: column;
}

.reviewImgContainerOne {
    margin-bottom: 20px;
}

.reviewImgContainerTwo {
    align-self: flex-end;
    margin: 40px 0 20px 0;
}

:global(.fa-quote-left) {
    margin-right: 8px;
}

:global(.fa-quote-right) {
    margin-left: 8px;
}

/*media queries*/

@media screen and (max-width: 1100px) {
    .processContainer {
        align-items: flex-start;
        padding: 40px 30px 80px 30px;
        text-align: left;
    }
    
    .processContainer h1 {
        width: 65%;
        max-width: 500px;
    }

    .processExplained {
        max-width: 800px;
        width: 85%;
    }
}

@media screen and (max-width: 515px) {
    .processContainer h1 {
        width: 80%;
        font-size: 2em;
        max-width: 700px;
    }
    
    .reviewContainer h1 {
        font-size: 2em;
    }
    
    .titleContainer h1 {
        font-size: 3em;
    }
}