.home-container {
    height: 100%;
    width: 100%;
}

/*hero section*/

.hero {
    display: flex;
    flex-direction: column;
    background-image: url('../../images/home-photo.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100% - 75px);
}

.welcome-message {
    font-weight: 700;
    margin-left: 5px;
    font-size: 0.95em;
    padding: 7px;
    align-self: flex-start;
    color: white;
}

.title-container {
    margin-top: 16%;
}

.title-container h1, .title-container p {
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.title-container h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-bottom: 5px;
}

.title-container p {
    font-size: 1.25em;
    letter-spacing: 2px;
    font-weight: 500;
    padding-bottom: 2px;
    margin: 0;
}

.scroll-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.scroll-circle {
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 20px;
}

/*process and review section*/

.process-container, .review-container {
    display: flex;
    flex-direction: column;
    padding: 40px 20% 80px 20%;
    align-items: center;
    text-align: center;
}

.process-container {
    background-color: whitesmoke;
}

.review-container {
    background-color: rgba(0, 0, 0, 0.95);
}

.process-container h1 {
    flex: 0 1 100%;
    font-size: 2.3em;
    margin-bottom: 15px;
}

.process-explained {
    font-size: 1.1em;
    margin-bottom: 3px;
}

.home-sign-up {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-size: 0.95em;
    margin-top: 20px;
    border-radius: 30px;
    width: 140px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.home-sign-up:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
}


.review-one, .review-two {
    color: white;
    font-size: 1.1em;
    text-align: left
}

.review-one p, .review-two p {
    max-width: 600px;
    letter-spacing: 1px;
    margin: 0;
}

.review-container h1 {
    font-size: 2.3em;
    margin-bottom: 55px;
    color: white;
}

.review-one img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.review-two img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.review-img-container-one, .review-img-container-two {
    width: 230px;
    max-height: 240px;
    border: 7px solid rgba(250, 250, 250, 0.65);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review-two {
    display: flex;
    flex-direction: column;
}

.review-img-container-one {
    margin-bottom: 20px;
}

.review-img-container-two {
    align-self: flex-end;
    margin: 40px 0 20px 0;
}

.fa-quote-left {
    margin-right: 8px;
}

.fa-quote-right {
    margin-left: 8px;
}


@media screen and (max-width: 1100px) {
    .process-container {
        align-items: flex-start;
        padding: 40px 30px 80px 30px;
        text-align: left;
    }
    .process-container h1 {
        width: 65%;
        max-width: 500px;
    }

    .process-explained {
        max-width: 800px;
        width: 85%;
    }
}