.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/home-photo.jpg');
    background-position: center;
    background-size: cover;
    height: calc(100% - 51px);
}

.welcome-message {
    font-weight: 700;
    border-bottom: 2px solid rgba(102, 0, 0, 0.9);
    margin-left: 5px;
    font-size: 0.95em;
    padding: 7px;
    align-self: flex-start;
    color: white;
}

.title-container h1, .title-container p {
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.title-container h1 {
    font-size: 3.5em;
    font-weight: 700;
}

.title-container p {
    font-size: 1.15em;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: 2px solid white;
}