.background {
    height: 100%;
    width: 100%;
}

.noRequests {
    margin-left: 10px;
    font-size: 1.2em;
    text-align: center;
}

.interestContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: 0 20%;
    padding: 40px 0;
}

.info {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

.info div {
    display: flex;
    flex-direction: column;
}

.imgContainer {
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
}

.avatar {
    max-width: 100%;
    max-height: 230px;
    width: 100%;
    display: block;
}

.bioContainer {
    background-color: white;
    color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    flex-basis: 43%;
    flex-grow: 1;
    border-radius: 10px;
}

.bio {
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    width: 65px;
    margin: auto;
}

/*request card*/

.card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    padding: 15px;
    margin: 15px;
}

.email, .username, .bio {
    font-weight: 800;
    margin-bottom: 5px;
}


.buttonContainer {
    align-self: center;
}

.button {
    background-color: rgba(220, 20, 60, 1);
    padding: 10px;
    font-size: 0.9em;
    border-radius: 10px;
    width: 160px;
    border: none;
    color: white;
    text-align: center;
}

.button:hover {
    background-color: white;
    color: rgba(220, 20, 60, 1);
    cursor: pointer;
    transition: 0.3s;
}

/*media queries*/

@media screen and (max-width: 1360px) {
    .interestContainer {
        margin: 0 10%;
    }
}

@media screen and (max-width: 1070px) {
    .interestContainer {
        margin: 0 3%;
    }
}

@media screen and (max-width: 880px) {
    .info {
        flex-grow: 1;
    }
    
    .bioContainer {
        flex-grow: 0;
        flex-basis: 100%;
        margin-top: 15px;
    }
    
    .imgContainer {
        margin: auto;
    }
    
    .card {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 560px) {
    .card {
        flex-direction: column;
    }
    
    .info {
        padding: 10px 0;
    }
    
    .button, .username {
        margin-top: 10px;
    }
    
    .bioContainer {
        margin-top: 0;
    }
}