.loginContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form input[type='email'], .form input[type='password'] {
    margin: 5px 0;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.loginContainer h1 {
    margin: 100px 47% 15px 47%;
    font-size: 2.1em;
}

/* media queries */

@media screen and (max-width: 800px) {
    .form, .loginContainer h1 {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 500px) {
    .loginContainer h1 {
        margin: 50px 20% 15px 20%;
    }
}