.loginContainer {
    display: flex;
    flex-direction: column;
    margin: 5% 30%;
}

.form {
    display: flex;
    flex-direction: column;
}

.loginContainer h1 {
    font-size: 2.1em;
}

.submit {
    border: none;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    border-radius: 5px;
    font-size: 0.95em;
    border: 2px solid rgba(0, 0, 0, 0.95);
    padding: 8px;
    margin: auto;
    width: 60%;
    margin-top: 15px; 
}

.submit:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.95);
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    
    .loginContainer {
        margin: 5% 20%;

    }
}
