.navbar {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
    padding: 8px 0 12px 0;
    height: 55px;
}

.navbar a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0 6px 2px 6px;
}

.logo {
    flex: 0 1 100%;
    text-align: center;
}

.requestNotifications {
    margin-left: 5px;
    padding: 0 6px;
    border-radius: 50%;
    background-color: crimson;
    color: white;
}

.active {
    border-bottom: 1px solid white
}