.profileContainer {
    padding: 40px 0;
}

/*profile card styles*/

.card {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    padding: 15px 10px;
    width: 75%;
    max-width: 600px;
}

.titleAvatar {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
}

.imgContainer {
    width: 275px;
    height: 255px;
    border: 7px solid rgba(211, 211, 211, 0.6);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.imgContainer img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    display: block;
}

.title {
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    margin-top: 0;
}

.info {
    margin: 10px auto;
}

.info div:nth-child(-n+4) {
    padding: 4px 0;
}

.infoBold {
    font-weight: bold;
}

.areaNotes {
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.9);
    padding: 0 10px;
    min-height: 140px;
    margin: 0 11% 0 11%;
    background-color: whitesmoke;
}

.areaNotes h4 {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    padding-bottom: 1px;
    width: 90px;
    margin: auto;
    margin-bottom: 5px;
}

.updateSuccess {
    font-weight: 600;
    font-size: 1.2em;
    color: green; 
    margin: -20px 0 20px 0;
    text-align: center;
}

.bio {
    margin: 15px 15px 0 15px;
}

.update {
    background-color: rgba(92, 184, 92, 1);
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin: auto;
    margin-top: 15px;
}

.update:hover {
    color: rgba(92, 184, 92, 1);
    background-color: white;
    transition: 0.3s;
}

/*media queries*/

@media screen and (max-width: 550px) {
    .bio, .info, .update {
        font-size: 0.9em;
    }
    
    .bio {
        text-align: center;
    }
    
    .imgContainer {
        width: 230px;
        height: 210px;
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: 85%;
    }
}