.formContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 50px 0 0 0;
    padding-bottom: 50px;
}

.form, .trainer, .default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form {
    width: 80%;
    max-width: 780px;
    margin: auto;
}

.form span {
    color: crimson;
    font-weight: bold;
}

.form input[type='text'], .form input[type='number'], .form textarea, select {
    margin: 5px 0;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.trainer, .default {
    padding: 5px 0;
}

.form textarea {
    height: 150px;
    background-color: whitesmoke;
}