.formContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 50px 0 0 0;
    padding-bottom: 50px;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    max-width: 780px;
    margin: auto;
}

.form span {
    color: crimson;
    font-weight: bold;
}

.form input[type='text'], .form input[type='number'], .form textarea, select {
    margin: 5px 0;
    padding: 5px;
}

.submit {
    border: none;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    border-radius: 5px;
    font-size: 0.95em;
    border: 2px solid rgba(0, 0, 0, 0.95);
    padding: 8px;
    margin: auto;
    width: 60%;
    margin-top: 15px; 
}

.submit:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.95);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.trainer, .default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 0;
}

.form textarea {
    height: 150px;
    background-color: whitesmoke;
}