.registerContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 30%;
}

.registerContainer a {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.registerContainer h1 {
    font-size: 2.1em;
    margin: 100px 0 15px 0;
}

.form input[type='email'], form input[type='password'] {
    margin: 5px 0;
    padding: 3px;
}

.form span {
    font-weight: bold;
    color: crimson;
}

.submit {
    border: none;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    border-radius: 5px;
    font-size: 0.95em;
    border: 2px solid rgba(0, 0, 0, 0.95);
    padding: 8px;
    margin: auto;
    width: 60%;
    margin-top: 15px; 
}

.submit:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.95);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.radioLabel {
    font-weight: 600;
}

.form input[type="radio"] {
    margin-right: 5px;
}

.hr {
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 1px;
    margin: 15px 0;
}

.success {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 1em;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    color: green;
    margin: 5px;
}

@media screen and (max-width: 850px) {
    .registerContainer {
        margin: 0 16%;   
    }
}

@media screen and (max-width: 500px) {
    .registerContainer h1 {
        margin: 50px 0 15px 0;
    }
}