.form {
    margin: 30px auto 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
    max-width: 600px;
}

.form span {
    font-weight: bold;
    color: crimson;
}

.form textarea, .form input[type='number'] {
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 7px;
    margin: 5px 0;
}

.form textarea {
    height: 130px;
}

.sent {
    margin: auto;
    font-size: 37px;
}

/* media queries */

@media screen and (max-width: 500px) {
    .reviewContainer h3 {
        font-size: 1.9em;
        width: 75%;
    }
}