.trainerContainer {
    background-color: whitesmoke;
}

.middleContainer, .bottomContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* middle container styles */

.middleContainer {
    padding: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
}

.middleContainer h3 {
    font-size: 2.1em;
    color: white;
    width: 65%;
    max-width: 500px;
    margin: 0 10% 30px 10%;
}

/* bottom container styles */

.bottomContainer h3 {
    font-size: 2.1em;
    margin: 40px 10% 40px 10%;
    width: 65%;
    max-width: 500px;
}

/* media queries*/

@media screen and (max-width: 500px) {
    .middleContainer h3 {
        font-size: 1.9em;
        width: 75%;
    }
}