:global(html) {
    height: 100%;
}

:global(body) {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:global(.app-container), :global(#app) {
    height: 100%;
    width: 100%;
}

:global(.register-success), :global(.profile-update) {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 600;
    font-size: 0.95em;
    padding: 7px;
    border-radius: 5px;
    align-self: flex-start;
    color: green;
    text-align: center;
}

select {
    padding: 3px;
}

.portal-container button {
    background-color: crimson;
    color: white;
    width: 30%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.bold-me {
    font-weight: 800;
    text-decoration: underline;
}


.justify {
    text-align: justify;
}

input {
    margin: 5px 0;
    padding: 5px;
}

.home-profiles {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.home-profiles div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.home-profiles div span {
    padding: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: 500;
}

.home-profiles img {
    width: 200px;
    height: 150px;
    border-radius: 5%;
}

.signup-container, .login-container {
    display: flex;
    flex-direction: column;
    margin: 5% 25%;
    
}

.submit {
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin: auto;
    width: 60%;
    margin-top: 15px; 
}

.setup-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}